<div class="container p-3">
  <h2 class="change-password-title">Reset Password</h2>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="change-password-form">
    <!-- New Password -->
    <div class="form-group">
      <label for="password">New Password</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>

    <!-- Confirm New Password -->
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn save-btn mt-3" [disabled]="resetPasswordForm.invalid">Reset Password</button>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
