<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <h2>Sanayii</h2>
      <p>Connecting You with Trusted Artisans</p>
      <p> Plumbers, electricians, carpenters — all in one place.</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/home#about" routerLinkActive="acyive">About Us</a></li>
        <li><a href="/home#services">Services</a></li>
        <li><a href="/services-requests-history">services-requests-history</a></li>
        <li><a href="/checkout-request">Checkout</a></li>
        <li><a href="/home#Reviews">Reviews</a></li>
        <li><a href="/home#Contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contact</h3>
      <p>Email: support&#64;sanayii.com</p>
      <p>Phone: +1 (555) 123-4567</p>
    </div>


  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Sanayii. All rights reserved.</p>
  </div>
</footer>
