<div class="container p-3">
  <div class="logo">
    <img src="assets/images/logo1.jpg" alt="Logo">
  </div>

  <h2 class="change-password-title">Email Sent</h2>

  <p class="email-info">
    An email has been sent to your address.<br />
    If this email address is registered, you'll receive instructions<br />
    on how to set a new password.
  </p>
  <!-- Error Message -->
  <div *ngIf="showError" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <!-- Success Message -->
  <div *ngIf="showSuccess" class="alert alert-success mt-3">
    Reset email has been sent successfully!
  </div>
  
  <button class="resend-link" (click)="resendEmail()" [disabled]="isLoading">
    <span *ngIf="!isLoading">Didn't get an email?</span>
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span *ngIf="isLoading"> Sending...</span>
  </button>


</div>
