*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.notification-icon {
  position: relative;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: crimson;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* start nav */
.head{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  padding:10px 15px;
  justify-content: space-between;
}

.logoImg{
  width: 50px;
  height: 50px;
  border-radius: 40%;
}
.head a{
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 3px;

}
.head .link:hover{
  color: black;
  background-color: lightgray;
}

.active{
  color: black;
  background-color: lightgray;
}
.auth-buttons{
  display: flex;
}
.auth-buttons .btn {
  background-color: #2980b9;
  border: 2px solid white;
  color: #fff;
  border-radius: 5px;
  margin-left: 4px;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 9px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.auth-buttons .btn:hover  {
  background-color: transparent;
  border-color: #2980b9;
  color: #2980b9;
}


@media (max-width: 808px) {
  /* .links{
      display: none !important;
  } */
}
