  <!-- start nav  -->
  <div class="head d-flex align-items-center  shadow-sm  bg-body-tertiary ">

    <div class="logo">
        <a href="#"><img src="/assets/images/logo1.jpg" alt="logo" class="logoImg"></a>
    </div>

    @if(login.isLogged)
    {
      <ul class="nav d-flex  links">
      <li><a href="/home" class="link">Home</a></li>

      <li><a routerLink="/categories" class="link">Services</a></li>


      <li><a [routerLink]="['/categories']" fragment="chat" class="link">Help</a></li>

      <li><a class="link" (click)="logout()" style="cursor: pointer;">log out</a></li>
      <li><a routerLink="/user-profile" class="pro"><img src="/assets/images/profile.webp" alt=""></a></li>

      <li class="notification-icon">
        <a routerLink="/notify" style="position: relative;">
          <fa-icon [icon]="faBell" class="icon"></fa-icon>
          <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount }}</span>
        </a>
      </li>
    </ul>
    }

    @else{
      <div class="auth-buttons">
        <a routerLink="/login" class="btn">Login</a>
        <a routerLink="/register"  class="btn ">Register</a>
      </div>
    }



</div>


