<section >
  <div class="container py-4" >
    <h2 class="text-center mb-4" style="color: #2980b9;">Services</h2>
    <div class="row" [ngClass]="{'with-chat-open': isChatboxOpen}">
      <div class="col-12 col-sm-6 col-lg-4 mb-4" *ngFor="let service of visibleCategories">
        <div class="card text-center shadow-sm h-100" (click)="handleCategoryClick(service.name!,service.id!)">
          <div class="card-body">
            <img [src]="service.image" alt="{{service.name}}" class="img-fluid mb-3" style="height: 150px;">
            <h6 class="card-title">{{ service.name }}</h6>
          </div>

        </div>
      </div>
    </div>

      <app-chat id="chat" (chatboxOpened)="onChatboxOpened($event)"></app-chat>

  </div>

  <div class="text-center mt-3 pb-3" *ngIf="categories.length > 6">
    <button class="btn btn-outline btn__primary btn-more" (click)="toggleShowAll()">
      {{ showAll ? 'Show Less' : 'Show More' }}
    </button>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="serviceModal" style="margin-top: 65px;" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form (ngSubmit)="submitRequestForm()" #requestForm="ngForm" class="contact-container" [formGroup]="CatgForm" >
        <div class="modal-header">
          <h5 class="modal-title" id="serviceModalLabel"><span>Request</span> Service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Service Name -->
          <div class="mb-3">
            <input type="text" class="form-control" id="serviceName" formControlName="ServiceName" placeholder="Service Name">
            <div *ngIf="CatgForm.get('ServiceName')?.touched && CatgForm.get('ServiceName')?.invalid" class="text-danger">
              Service Name is required.
            </div>
          </div>

          <!-- Service Details -->
          <div class="mb-3">
            <textarea class="form-control" id="details" rows="2" formControlName="ServiceDetails" placeholder="Service Details"></textarea>
            <div *ngIf="CatgForm.get('ServiceDetails')?.touched && CatgForm.get('ServiceDetails')?.invalid" class="text-danger">
              Service Details are required.
            </div>
          </div>

          <!-- Preferred Time -->
          <div class="mb-3">
            <label class="form-label">Preferred Time</label>
            <input type="date" class="form-control" id="requestDate" formControlName="requestDate">
            <div *ngIf="CatgForm.get('requestDate')?.touched && CatgForm.get('requestDate')?.errors?.['notFutureDate']" class="text-danger">
              Please select a future date.
            </div>
          </div>

          <!-- Payment Method -->
          <div class="col-12">
            <div class="border rounded-3 p-3 bg-light">
              <label for="paymentMethod" class="form-label text-muted">Payment Method</label>
              <select formControlName="paymentMethod" class="form-select" [disabled]="!paymentOptions.length">
                <option value="" disabled selected>-- Select Payment Method --</option>
                <option *ngFor="let option of paymentOptions" [value]="option.id">
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-submit" style="background-color: #2980b9;">Submit Request</button>
        </div>
      </form>
    </div>
  </div>
</div>
