<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <button class="close-btn" (click)="closePopup()">&#10006;</button>

    <h3 class="popup-title">Notification Details</h3>

    <div class="popup-item">
      <label>Title</label>
      <span>{{ notification?.title }}</span>
    </div>

    <div class="popup-item">
      <label>Content</label>
      <span>{{ notification?.content | underscoreToSpace }}</span>
    </div>

    <div class="popup-item">
      <label>Created At</label>
      <span>{{ notification?.createdAt | date: 'medium' }}</span>
    </div>
  </div>
</div>
